<div id="app">
        <div id="outlet">
            <!--<app-email-info></app-email-info>-->
        <router-outlet></router-outlet>
        </div>
    <div id="wrap" class="modal">
        <div id="loading" *ngIf="data.Loading">
            <h2>Loading...</h2>
        </div>
        <div id="changepwd" class="modal" *ngIf="data.ChangePassword">
            <h2>Please enter new password</h2>
            <input type="password" id="pwdInput" [(ngModel)]="password">
            <button (click)=cancel()>cancel</button>
            <button (click)=ok()>ok</button>
        </div>
    </div>
</div>