

.table-task {
    display: flex;
    flex-direction: column;
   max-height: 500px;
    min-width: 300px;
    overflow: auto;
    min-height: 500px;
}
.mat-table {
  overflow: auto;
 height: 500px;
  
}
.mat-column-Id {
  flex: 0 0 5%;
}