<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/app/logincss.css" type="text/css" />
    <title></title>
</head>
<body>
 <div id="menuDiv">
            <a href="Dashboard">
                <div class="dashboardDiv" id="daemonsdiv2">
                    Dashboard
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv1">
                    Admin Accounts
                </div>
            </a>
            <a href="Tasks">
                <div class="dashboardDiv" id="daemonsdiv3">
                    Tasks
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv4">
                    Admin Accounts
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv5">
                    Admin Accounts
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv6">
                    Admin Accounts
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv7">
                    Admin Accounts
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv8">
                    Admin Accounts
                </div>
            </a>
            <a href="AdminAccounts">
                <div class="dashboardDiv" id="daemonsdiv9">
                    Admin Accounts
                </div>
            </a>  
 </div> 
        <main id="daemonsMain">

    
    <a href="AddTasks">
        <input type="submit" value="Add Task" id="TaskSubmit" class="button" />
    </a>
        </main>
</body>
</html>