<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/app/logincss.css" type="text/css" />
    <title>Dashboard</title>
</head>
<body>
    <main id="dashboardMain">
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div1">
                Admin Accounts
            </div>
        </a>
        <a href="Daemons">
            <div class="dashboardDiv" id="div2">
                Daemons
            </div>
        </a>
        <a href="Tasks">
            <div class="dashboardDiv" id="div3">
                Tasks
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div4">
                Admin Accounts
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div5">
                Admin Accounts
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div6">
                Admin Accounts
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div7">
                Admin Accounts
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div8">
                Admin Accounts
            </div>
        </a>
        <a href="AdminAccounts">
            <div class="dashboardDiv" id="div9">
                Admin Accounts
            </div>
        </a>
    </main>
</body>
</html>