<!doctype html>
<html lang="cs-cz">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/app/logincss.css" type="text/css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
    <main>
        <div id="loginDiv">
            <form id="loginForm">
                <input type="text" placeholder="Username" name="Username" id="loginUsername"/>
                <br />
                <input type="password" placeholder="Password" name="Password" id="loginPassword" />
                <br />
            </form>
            <a href="Dashboard">
                <input type="submit" value="Login" id="loginSubmit" class="button"/>
            </a>
            <br />     
        </div>
        <div class="g-recaptcha" data-sitekey="6Ld6W0kUAAAAALawhd36UwQInSTUT5RfAHjy9Pje"></div>        
    </main>
</body>
</html>





































@{
    ViewBag.Title = "Login";
   
}
@*<my-app>Loading AppComponent content here ...</my-app>*@





@*<html>
    <head>

    </head>
    <body>
        <div>
            <strong>LOGIN SERVICE</strong>
            <br />   <br />
            <strong>Username:  </strong><input type="text" placeholder="Enter your username" />
            <br />    <br />
            <strong>Password:    </strong><input type="password" placeholder="Enter your password" />
            <br />  <br />

            <br />

            <input type="submit" value="Login"
        </div>
    </body>
    </html>*@

