<body>
  <div id="setting">
    <p>
      
      <input type="text" class="basicInput" id="new-admin-name" placeholder="Username" [(ngModel)]="username" autocomplete="off">
    </p>
    <p>
      
      <input type="password" class="basicInput" id="new-admin-password" placeholder="Password" [(ngModel)]="password" autocomplete="off">
    </p>
    <p>
      
      <input type="text" class="basicInput" id="new-admin-email" placeholder="Email" [(ngModel)]="email" autocomplete="off">
    </p>
    <p>
        Enabled: 
      <mat-checkbox class="checkbox" [(ngModel)]="enabled"></mat-checkbox>
    </p>
    <p>
      Permissions: 
      <mat-selection-list #permissions [(ngModel)]="selectedPermission">
          <mat-list-option class="basicOption" *ngFor="let perm of Permissions"
          (click)="onAreaListControlChanged(list)" [value]="perm.number">
            {{perm.name}}
          </mat-list-option>
        </mat-selection-list>
    </p>
    <button (click)="addAdmin()">Add administrator</button>
  </div>
</body>