<main>
    <div id="loginDiv">
        <div id="UserIconDiv"></div>
        <form id="loginForm">
            <h1>Login to your account</h1>
            <h2>Your credentials</h2><br><br>
            <input type="text" placeholder="Server Url" name="ServerURL" id="serverUrl" [(ngModel)]="rootURL"/>
            <br/>
            <div class="textfield">
                    <img src="./iconUser.png" width=25 />
                <input type="text" placeholder="Username" name="Username" id="loginUsername" [(ngModel)]="name"/>
            </div>
            
            <div class="textfield">
                    <img src="./iconPass.png" width=25 />
                <input type="password" placeholder="Password" name="Password" id="loginPassword" [(ngModel)]="password"/>
            </div>
            <br/>
        </form>
        <a>
            <input type="submit" value="Login"  id="loginSubmit" class="button" (click)="LogIn()"/>
        </a>
        <br/>
    </div>
</main>
