<body>
  <div>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </div>
  
  <div class="table-admin">
    <mat-table #table [dataSource]="data.AdminAccounts">
      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Id}} </mat-cell>
      </ng-container>
  
      <!-- Username Column -->
      <ng-container matColumnDef="Username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UserName}} </mat-cell>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
      </ng-container>
  
      <!-- Enabled Column -->
      <ng-container matColumnDef="Enabled">
        <mat-header-cell *matHeaderCellDef> Enabled </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Enabled}} </mat-cell>
      </ng-container>

      <!-- Permission Column -->
      <ng-container matColumnDef="Permission">
        <mat-header-cell *matHeaderCellDef> Permission </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Permission}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </div>
</body>
