.table-admin {
  
    display: flex;
    flex-direction: column;
   max-height: 860px;
    min-width: 300px;
    overflow: auto;
    min-height: 860px;
    
    
}
.mat-table {
  
  overflow: auto;
  
}
input[type="text"]
{
    background: transparent;
    border: none;
}
.mat-column-Id {
  flex: 0 0 5%;
}

.deleteDiv{
  height: 25px;
  width: 25px;
  background-image: url('Trash25x25.png')
}

.deleteDiv:hover{
  cursor: pointer;
}