@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-image: url('./assets/bg.png');
    background-repeat: repeat;
    background-color: lightgreen;
    height: 625px;
    margin: 0;
    padding: 0;
};