<html>
  <head>
       <script type="text/javascript" src=Check.js></script>
      <script type="text/javascript" src=AddDestinationcheck.js></script>
  </head>
<body>
        <div id="celek">
          Daemon Id: <input type="text" id="daemonId" [(ngModel)]="daemonId" placeholder="Daemon Id" (change)="checkIfNumberValid()">
              <div id="backupType">
              Full <input type="radio" name="buChoice">  Incremental <input type="radio" name="buChoice">  Differencial <input type="radio" name="buChoice"><br>
              </div>
             
              <div id="destinationSelect">
            FTP/SFTP <input type="radio" onclick="BUcheck()" name="type" id="distant"> Local <input type="radio" onclick="BUcheck()" name="type" id="local">
              </div>
              <br>
              <div id="ifServer" style="display:block">
              Username:<input type='text' id='distUser' name='dUser'[(ngModel)]="ncUsername" ><br>
              Password:<input type='text' id='distPass' name='dPass'[(ngModel)]="ncPassword">
             </div>
             Compress? <input type="checkbox" id="checkboxCompression" >
             <div id="divCompress" style="display:block">
              <select id="dropdownCompress" size="3"> 
                <option value="Rar" id="optionRar">Rar</option> 
                <option value="7zip" id="option7zip">7zip</option> 
                <option value="Zip" id="optionZip">Zip</option> 
                </select>                
             </div>
            <input type="text" id="inputSource" placeholder="C:\Users" [(ngModel)]="sourcepath"><br>
            <input type="datetime-local" id="inputDateExecution" [value] = "_date" (change) = "onDateChange($event.target.value)" ><br>
            <input type="text" placeholder="C:\KoFrMaBackup\Backups" id="inputDestination" [(ngModel)]="destinationpath"> <input type="submit" id="AddDest" value="Add Destination" onclick="AddDestination()"><br>
            <input type="submit" value="Save" id="inputSaveTask" (click)="AddTask()">
       </div>
      </body>
   
      </html>
        