<div id="celek">
  <div id="menuTask">
    <div style="float: left;width: 45%;">
      <h2>Backup settings</h2>
      <strong>Daemon id:</strong><input type="text" id="daemonId" [(ngModel)]="daemonId"  class="BasicInput" (change)="checkIfNumberValid()" style="margin: 10px">
      <hr>
      <div id="backupType"><strong>Backup Type:</strong>
        Full<input type="radio" id="IdtypeFull" class="basicRadio" name="buChoice" value="Full" [(ngModel)]="backuptype">  
        Incremental <input type="radio" class="basicRadio" name="buChoice" value="Incremental" [(ngModel)]="backuptype">  
        Differencial <input type="radio" class="basicRadio" name="buChoice" value="Differencial" [(ngModel)]="backuptype"><br>
      </div>
      <hr>
      <!--Sources-->
      <div>
        <div id="sourceType">
          <strong>Source Type:</strong>
          Local <input type="radio" class="basicRadio" id="sourceLocal" name="sourceType" value="Local" [(ngModel)]="sourcetype">
          MySQL <input type="radio" class="basicRadio" id="sourceDbMY" name="sourceType" value="MySQL" [(ngModel)]="sourcetype"> 
          MsSQL <input type="radio" class="basicRadio" id="sourceDbMS" name="sourceType" value="MsSQL" [(ngModel)]="sourcetype">
        </div>
        <div>
          <div *ngIf="sourcetype == 'Local'">
            <div style="max-height: 100px; overflow: auto;" id="srcPaths">
              <div *ngFor="let element of srcPath" style="white-space: nowrap">
                <div *ngIf="element!=undefined">
                  <input type='text'placeholder="Path" class="BasicInput" id='distPath' name='dPath' [(ngModel)]="element.value" style="width: 90%">
                  <button (click)=removeSrcPath(element.id)>X</button>
                </div>
              </div>
            </div>
            <button (click)="addSrcPath()">Add path</button>
          </div>
          <div *ngIf="sourcetype == 'MySQL' || sourcetype == 'MsSQL'">
            <input type='text'placeholder="Username" class="BasicInput" id='distPath' name='dPath'[(ngModel)]="srcUsername">
            <input type='text'placeholder="Password" class="BasicInput" id='distPath' name='dPath'[(ngModel)]="srcPassword">
            <input type='text'placeholder="Server name" class="BasicInput" id='distPath' name='dPath'[(ngModel)]="srcServerName">
            <input type='text'placeholder="Database name" class="BasicInput" id='distPath' name='dPath'[(ngModel)]="srcDatabaseName">
          </div>
        </div>
      </div>
      <hr>
      <!--Destiantions-->
      <div>
        <div id="destinationSelect">
          <strong>Destination Type:</strong>
          FTP <input type="radio" class="basicRadio" name="type" id="distant" [(ngModel)]="destinationtype" value="FTP">
          SFTP<input type="radio" class="basicRadio" name="type" id="sftp"[(ngModel)]="destinationtype" value="SFTP">
          Local <input type="radio" class="basicRadio" name="type" id="local"[(ngModel)]="destinationtype" value="LOCAL">
        </div>
      <div id="ifServer">
        <div *ngIf="destinationtype != undefined">
          <input type='text'placeholder="Path" class="BasicInput" id='distPath' name='dPath'[(ngModel)]="ncPath">
        </div>
        <div *ngIf="destinationtype === 'SFTP'||destinationtype === 'FTP'">
          <input type='text' placeholder="Username" class="BasicInput" id='distUser' name='dUser'[(ngModel)]="ncUsername" ><br>
          <input type='text'placeholder="Password" class="BasicInput" id='distPass' name='dPass'[(ngModel)]="ncPassword">
        </div>
      </div>
      <!--Compression settings-->
      <div *ngIf="destinationtype != undefined">
        Compress?<input type="checkbox" id="checkboxCompression" class="basicCheckbox" [(ngModel)]="compress" style="vertical-align: middle;">
        <br>
        <div *ngIf="compress==true">
          <div id="divCompress">
            <select id="dropdownCompress" class="basicSelect" [(ngModel)]="compressType" (change)="compressLevel=1"> 
              <option value="Rar" id="optionRar">Rar</option> 
              <option value="7zip" id="option7zip">7zip</option> 
              <option value="Zip" id="optionZip">Zip</option> 
            </select>
          </div>
          <div id="dropMenuDiv" >
            <select id="dropdownRar" class="basicSelect" *ngIf="compressType=='Rar'" [(ngModel)]="compressLevel"> 
              <option value="1" id="optionRar1">Fastest</option> 
              <option value="2" id="optionRar2">Fast</option> 
              <option value="3" id="optionRar3">Normal</option> 
              <option value="4" id="optionRar4">Good</option> 
              <option value="5" id="optionRar5">Best</option> 
            </select>   
            <select id="dropdownZip" class="basicSelect" *ngIf="compressType=='Zip'" [(ngModel)]="compressLevel">
              <option value="0" id="optionZip0">Optimal</option> 
              <option value="1" id="optionZip1">Fastest</option>
            </select>  
            <select id="dropdown7zip" class="basicSelect" *ngIf="compressType=='7zip'" [(ngModel)]="compressLevel">
              <option value="1" id="option7zip1">Fastest</option> 
              <option value="3" id="option7Zip2">Fast</option> 
              <option value="5" id="option7Zip3">Normal</option> 
              <option value="7" id="option7Zip4">Maximum</option> 
              <option value="9" id="option7Zip5">Ultra</option> 
            </select>
          </div>
          <p style="white-space: nowrap; line-height: 10px">Split to files (only one file if empty):<input type="text" [(ngModel)]="splitAfter" placeholder="Size in MiB" class="BasicInput" (change)="checkIfNumberValid()" style="margin: 10px"></p>
        </div>
        <input type="submit" class="basicSubmit" id="AddDestLocal" value="Add destination" (click)="AddLocalDestination()"style="">
      </div>
    </div>
    <div id="inputDestiDiv" style="max-height: 200px; overflow: auto;">
      <div id="sourceButtonDiv">
      </div>
      <br>
    </div>
  </div>
  <!--Vertical line-->
  <div class="vl"></div>
  <!--Screen split-->
    <div style="float:right; width: 45%; margin: 15px;">
      <h2>Task repeating</h2>
      <div id="showRepeat">
        <input type="text" id="repeatEvery" class="BasicInput" [(ngModel)]="repeatEvery" placeholder="Repeat every:">
        Repeat till: <input type="datetime-local" id="repeatTill" class="basicDate" [value] = "_date" (change) = "onDateChangeTill($event.target.value)" >
        <input type="submit" value="Add execution date" id="repeatAddExecutionSubmit" class="basicSubmit" (click)="AddExecutionDate()">
        <input type="submit" value="Add exception date" id="repeatAddExceptionSubmit" class="basicSubmit" (click)="AddExceptionDate()">
      </div>
      <input type="submit" value="Save" id="inputSaveTask" class="basicSubmit"  (click)="AddTask()">
    </div>
    <div id="mensiDiv">
    </div>
  </div>
</div>