<div class="content">
  <mat-sidenav-container>
      <mat-sidenav mode="side" class="sidnav" opened>
        <p class="selectElement" routerLink="/backup/app/daemons" routerLinkActive="active-link">Daemons</p>
        <p class="selectElement" routerLink="/backup/app/tasks" routerLinkActive="active-link">Tasks</p>
        <p class="selectElement" routerLink="/backup/app/admin-accounts" routerLinkActive="active-link">Admin Accounts</p>
        <p class="selectElement" routerLink="/backup/app/server-exceptions" routerLinkActive="active-link">Server Exceptions</p>
        <p class="selectElement" routerLink="/backup/app/completed-tasks" routerLinkActive="active-link">Completed Tasks</p>
      </mat-sidenav>
      <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
</div>
