<mat-toolbar>
  <h1>KoFrMaBackup</h1>
</mat-toolbar>
<body>
  <div class="content">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
          <p (click)="directToDaemons()">Daemons</p>
          <p (click)="directToTasks()">Tasks</p>
          <p (click)="directToAdminAccounts()">Admin accounts</p>
          <p (click)="directToAddAdmin()">Add Admin</p>
        </mat-sidenav>
        <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
      </mat-sidenav-container>
  </div>
</body>