<mat-toolbar>
  <h1>KoFrMaBackup</h1>
</mat-toolbar>


<p><button mat-button (click)="sidenav.toggle()">Toggle sidenav</button></p>
<div class="main"></div>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" disableClose position="start" opened>
      <mat-nav-list>
        <p>cus</p>
        <p>test</p>
        <p>skdfjskdfjk</p>
        </mat-nav-list>
    </mat-sidenav>
  <mat-sidenav-content>
      <app-admin-accounts></app-admin-accounts>
      <app-tasks></app-tasks>
      <app-daemons></app-daemons>
  </mat-sidenav-content>
</mat-sidenav-container>
